body
{
background-color: /*#F8F5C0*/ rgb(248,245,192);
background-image: none;
font-family: Georgia, "Palatino Linotype", "Times New Roman", serif;
/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
font-size: 9pt;
color: black;
margin-bottom: 0px;     margin-left: 6px;  margin-top: 6px
}

a  /* Anchors */
{
color: #009000;  /*#4d874d #669999 Should fit to color of headers*/
text-decoration:none;
}


/* Pre-formatted --------------------------------------- */

pre
{
font-family: consolas,courier new, courier;
font-size: 9pt;
margin-bottom: 0px;     margin-left: 6px;  margin-top: 6px
}

pre.fixed
{
font-family: consolas,courier new, courier;
font-size: 9pt;
margin-bottom: -12px;     margin-left: 6px;  margin-top: 6px
}

pre.fixedsmall
{
font-family: consolas,courier new, courier;
font-size: 6pt;
margin-bottom: -12px;     margin-left: 6px;  margin-top: 6px
}

pre.diagram
{
font-family: verdana, tahoma, arial, helvetica, sans-serif;
font-size: 6pt;
margin-bottom: 0px;     margin-left: 6px;  margin-top: 6px
}


/* Paragraphs ---------------------------------------------- */

p
{
margin-bottom: 0px;   margin-left: 6px;    margin-top: 6px;
line-height: 140%
}


p.indent
{
margin-left:1em;
line-height: 140%
}

p.formula
{
margin-left:3em;   margin-bottom: 12px;  margin-top: 12px;
line-height: 140%
}

p.formula1
{
margin-left:3em;   margin-bottom: 6px;  margin-top: 12px;
line-height: 140%
}

p.formula2
{
margin-left:3em;   margin-bottom: 6px;  margin-top: 6px;
line-height: 140%
}

p.narrow
{
margin-bottom: 0px;   margin-left: 6px;    margin-top: 0px;
line-height: 120%
}

p.navi  /* Navigator line below H1 */
{
font-family: verdana, tahoma, arial, helvetica, sans-serif;
font-size: 8pt;
}

p.gray
{
font-size: 6pt;
color: gray;
}


/* Lists ---------------------------------------------- */

li
{
margin-bottom: 0px;     margin-left: 0px;   margin-top: 3px;
line-height: 140%
}

/* Note, "margin-left: 3em;" should give proper display of lists
   in HelpViewer (albeit it does indent too strong in IE and Firefox ??? */
   
ol
{
list-style-type: decimal;
margin-bottom: 6px;     margin-left: 3em;   margin-top: 3px;
line-height: 140%
}

ul
{
margin-bottom: 6px;     margin-left: 3em;   margin-top: 3px;
line-height: 140%
}


/* Headers ----------------------------------*/

H1
{font-family: verdana, tahoma, arial, helvetica, sans-serif;
font-weight: bold;     font-size: 14pt;    color: rgb(250,255,250);
margin-left: 6px;
margin-top: 16px;      margin-bottom: 12px;
padding-left: 6px;     padding-top: 6px;      padding-bottom: 6px;
background-color: rgb(96,0,0)/*#600000*/;
border-style: double
}

H2
{font-family: verdana, tahoma, arial, helvetica, sans-serif;
font-weight: bold;     font-size: 12pt;    color: rgb(100,100,100);  /*#005000*/
margin-left: 6px;
margin-top: 36px;      margin-bottom: 12px;
padding-left: 3px;     padding-top: 3px;      padding-bottom: 3px;
background-color: rgb(200,200,150);
border-radius: 4px
}

H3  /* Gray background, inverted font-color */
{font-family: verdana, tahoma, arial, helvetica, sans-serif;
font-weight: bold;     font-size: 10pt;    color:rgb(250,255,250);
margin-left: 6px;
margin-top: 30px;      margin-bottom: 12px;
padding-left: 3px;     padding-top: 3px;      padding-bottom: 3px;
background-color: rgb(130,150,105); /*  rgb(0,48,0)#003000*/
border-radius: 4px
}

H4
{font-family: verdana, tahoma, arial, helvetica, sans-serif;
font-weight: bold;     font-size: 9pt;     rgb(0,48,0) /*#003000*/;
margin-left: 6px;
margin-top: 24px;     margin-bottom: 0px;
}

H4.fixed
{font-family: consolas,courier new, courier;
font-weight: bold;     font-size: 9pt;     rgb(0,48,0) /*#003000*/;
margin-left: 6px;
margin-top: 24px;     margin-bottom: 6px}

H4.fixed2  /*Used for a second header line below H4.fixed*/
{font-family: consolas,courier new, courier;
font-weight: bold;     font-size: 9pt;     rgb(0,48,0) /*#003000*/;
margin-left: 6px;
margin-top: 0px;       margin-bottom: 6px}

H5
{font-family: verdana, tahoma, arial, helvetica, sans-serif;
font-style: italic;
font-weight: normal;  font-size: 9pt;     rgb(0,48,0) /*#003000*/;
margin-left: 6px;
margin-top: 18px;     margin-bottom: 0px}


HR
{width:100%;  height:1px;   color:black;
margin-bottom: 12px}

HR.short
{width: 30%;  height:1px;   color:black}



/* For parameters  */

H1.param /* Used for headers of parameters say f1= */
{
color: rgb(255,255,255);
margin-left: 6px;
margin-top: 16px;      margin-bottom: 12px;
background-color: #336600;
border-style: double
}

H1.item /* Used for headers of items say Baffle items, 101  d= xc=  */
{
color: rgb(255,255,255);
margin-left: 6px;
margin-top: 16px;      margin-bottom: 12px;
background-color: #000055;
border-style: double
}


/* TABLE All ------------------------------------*/

TABLE
{
border-collapse: collapse;  /* Otherwise each cell is framed */
empty-cells: show;
font-family: Georgia, "Times New Roman", serif;
font-size: 9pt;
color: black;
margin: 4px
}

TR.narrow
{
margin-bottom: 0px;   margin-left: 0px;    margin-top: 0px;
line-height: 100%
}

TD
{
margin-bottom: 0px;   margin-left: 6px;    margin-top: 6px;
/*line-height: 100%; */
text-align: left
}


TD.c
{
text-align: center;
}


/* TABLE.Schema ------------------------------------*/

TABLE.Schema
{
  border-collapse: collapse;  /* Otherwise each cell is framed */
  border: solid 1px #003333;
  line-height: 140%;
  empty-cells: show;
}

TD.Schema
{
  width: 400px;
  border: 1px solid #003333;
  font-family: verdana, tahoma, arial, helvetica, sans-serif;
}


/* TABLE.param ------------------------------------*/

TABLE.param
{
margin-bottom: 0px;   margin-left: 6px;    margin-top: 0px;
line-height: 140%
}


TR.param
{
margin-bottom: 0px;   margin-left: 0px;    margin-top: 0px;
line-height: 140%
}

TD.param0  /* First column such as "Identifier", "Units" etc  */
{ width: 100px; vertical-align=top;
margin-bottom: 0px;   margin-left: 0px;    margin-top: 0px;
line-height: 140%
}

TD.param1 /* Second column for values */
{ vertical-align=top;
font-family: consolas,courier new, courier;
font-size: 9pt;   font-weight: normal;
margin-bottom: 0px;   margin-left: 0px;    margin-top: 0px;
line-height: 140%
}


TD.paramID  /* Second column special for Identifier (say f1=; f2= etc) */
{ vertical-align=top;
font-family: consolas,courier new, courier;
font-size: 9pt;   font-weight: bold;
margin-bottom: 0px;   margin-left: 0px;    margin-top: 0px;
line-height: 140%
}

TD.paramIDDepr  /* Depreciated */
{ vertical-align=top;
font-family: consolas,courier new, courier;
font-size: 9pt;   font-weight: normal;
margin-bottom: 0px;   margin-left: 0px;    margin-top: 0px;
line-height: 140%
}


